div{
    background-color: rgb(205, 147, 40);
    width: 375px;
    margin: 0 auto;

}
img{
    height: 100px;
    width: 100px;
    display: block;
}
div h1{
    box-sizing: border-box;
    padding: 1rem 1rem;
    background-color:rgba(149, 102, 0, 0.937);
    padding-left: 2em;
    
}
div li{
    display: inline-block;
    background-color: rgb(171, 100, 7);
    margin-bottom: 1em;
       
}
div ul{
    padding-left: 2em;
    
}
div a{
    text-decoration: none;
    color: black;
        
}
div li:hover{
    background-color: rgb(118, 73, 15);
}
body{
    background-color: rgb(159, 134, 103);
}